table, th, td {
    border: 5px solid gray;
}

table {
    border-collapse: collapse;
}

div {
    height: 80px;
    width: 80px;
    background-color: yellow; 
    border: 5px solid red;
}

button {
    background-color: #FF00FF;
    border: 5px dashed gray;
    padding: 15px 32px;
    text-align: center;
    font-family: Impact;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
